In [1]:
import pandas as pd

# Read files related to train data

In [44]:
train             = pd.read_csv('train.csv', nrows=2000)
building_metadata = pd.read_csv('building_metadata.csv')
weather_train     = pd.read_csv('weather_train.csv')

# Functions

In [48]:
#missing value computation
def cal_missing_val(df):
    data_dict = {}
    for col in df.columns:
        data_dict[col] = df[col].isnull().sum()/df.shape[0]*100
    return pd.DataFrame.from_dict(data_dict, orient='index', columns=['MissingValue'])

## EDA - Missing value

In [53]:
missing_weather  = cal_missing_val(weather_train)
missing_building = cal_missing_val(building_metadata)

In [54]:
missing_weather

                    MissingValue
site_id                 0.000000
timestamp               0.000000
air_temperature         0.039350
cloud_coverage         49.489529
dew_temperature         0.080845
precip_depth_1_hr      35.979052
sea_level_pressure      7.596603
wind_direction          4.484414
wind_speed              0.217496

In [55]:
missing_building

             MissingValue
site_id          0.000000
building_id      0.000000
primary_use      0.000000
square_feet      0.000000
year_built      53.416149
floor_count     75.500345

In [15]:
building_metadata.head(2)

   site_id  building_id primary_use  square_feet  year_built  floor_count
0        0            0   Education         7432      2008.0          NaN
1        0            1   Education         2720      2004.0          NaN

In [52]:
missing_building

             MissingValue
site_id          0.000000
building_id      0.000000
primary_use      0.000000
square_feet      0.000000
year_built      53.416149
floor_count     75.500345

In [14]:
weather_train.head(2)

,site_id,timestamp,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed
0,0,2016-01-01 00:00:00,25.0,6.0,20.0,NaN,1019.7,0.0,0.0
1,0,2016-01-01 01:00:00,24.4,NaN,21.1,-1.0,1020.2,70.0,1.5

## Imputation - Missing value